@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #4640de;
  --text-primary: #25324b;
  --text-secondary: #26a4ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-primary: var(--font-EpilogueFont);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #4640de;
    --text-primary: #25324b;
    --text-secondary: #26a4ff;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
