@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #4640de;
  --text-primary: #25324b;
  --text-secondary: #26a4ff;
  --text-neutrals: #515b6f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-neutrals: var(--text-neutrals);
  --font-primary: var(--font-EpilogueFont);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #4640de;
    --text-primary: #25324b;
    --text-secondary: #26a4ff;
    --text-neutrals: #515b6f;
  }
}

body {
  background: var(--background);
  color: var(--text-neutrals);
  font-family: var(--font-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
}

section {
  @apply container mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {
  body {
    @apply bg-white text-text-primary antialiased;
  }

  p {
    @apply text-base leading-relaxed 
           md:text-lg 
           lg:text-lg;
  }

  h1 {
    @apply font-bold tracking-tight text-3xl 
           md:text-5xl 
           lg:text-6xl;
  }

  h2 {
    @apply font-semibold tracking-tight text-2xl 
           md:text-4xl 
           lg:text-5xl;
  }

  h3 {
    @apply font-semibold text-xl 
           md:text-3xl 
           lg:text-4xl;
  }

  h4 {
    @apply font-medium text-lg 
           md:text-2xl 
           lg:text-3xl;
  }

  h5 {
    @apply font-medium text-base 
           md:text-xl 
           lg:text-2xl;
  }

  h6 {
    @apply font-medium text-sm uppercase tracking-wide 
           md:text-lg 
           lg:text-xl;
  }
}

a {
  @apply text-text-neutrals hover:text-text-neutrals/50 transition duration-300;
}
